<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>CFBundleExecutable</key>
    <string>wrapper-script</string>
    
    <key>CFBundleIconFiles</key>
    <array>
      <string>tascarlogo.icns</string>
    </array>
    
    <key>CFBundleIconFile</key>
    <string>tascarlogo.icns</string>
    
    <key>CFBundleName</key>
    <string>tascar</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.gisogrimm.tascar</string>
    
    <key>NSMicrophoneUsageDescription</key>
    <string>${PRODUCT_NAME} Microphone Usage</string>
    
  </dict>
</plist>
